.header {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://cdn.choosechicago.com/uploads/2020/10/CC-northave-beach-aerial-1-1800x1197.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }  

  
  .header h1,
  .header .contact-info p {
    color: black;
  }

.navigation ul li a {
    font-size: 19.25px; 
  }
  

  body {
    background-image: url('https://lh6.googleusercontent.com/proxy/NQF-cjpcjymz7yXvcVqoKs5o6BX4lw60lAwMN5QnmQ-Sr_n6XldeDMAhZLBk3kixG2RwkjXnYnjE8_i4ltBj-1UsZ1BBwETzDIRh3OqvtQRFSJnz'), linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background-blend-mode: overlay; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center; 
  }
  

.bold-text { 
    font-weight: bold; 
  }  